.div-parent{
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
}

.books-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 20px;
}

.selected-books{
    position: sticky;
    top: 0;
    padding: 50px 10px;
} 
.chooseBtn{
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 8px;
    border-radius: 5px;
}
.chooseBtn:hover{
    background-color: orange;
    color: white;
}


/* responsive */

@media screen and (max-width: 668px) {
    .books-area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 20px;
    }
}